lein/.nrepl-port
lein/repl-history
dot/config/env_vars
dot/config/fish/fish_history
dot/config/fish/fishd.b8e8564a5c38
/lein/.profiles.clj.~undo-tree~
/lein/.tracetool.clj.~undo-tree~
/gitconfig
/lein/self-installs/leiningen-2.5.0-standalone.jar
/config/aws.env
/config/hub
*.fish#
*.#*
/dot/config/aws.env
*.jar
/dot/lein/repl-history
/dot/config/hub
